#API Credentials
TEXTBELT_KEY=
TERMINAL_SHOP_TOKEN=

#NETWORKING AND SMS
WEBHOOK_URL= #url for the webhook to post to
WEBHOOK_PORT= #port to receive the webhook post
WEBHOOK_TIMEOUT=600 #Time in seconds to keep the webhook listener open waiting for text message reply
TO_PHONE_NUMBER=+11234567890
