#API Credentials
TEXTBELT_KEY=
TERMINAL_SHOP_TOKEN=

#NETWORKING AND SMS
WEBHOOK_URL= #url for the webhook to post to
WEBHOOK_PORT= #port to receive the webhook post
WEBHOOK_TIMEOUT=600 #Time in seconds to keep the webhook listener open waiting for text message reply
TO_PHONE_NUMBER=+11234567890

#COFFEE CALIBRATION CONSTANTS
EWMA_ALPHA = .2 #alpha parameter for EWEA i.e. smoothing. Value 0 - 1. Larger values correlate to newer values affecting the average by a greater degree
STANDARD_DELIVERY_TIME = 7 #time in days estimate for coffee to go from order to doorstep
DEFAULT_COOLDOWN_LENGTH = 10 #time in days to prevent asking for another coffee order once one was sent

#HARDWARE CONFIG
SCALE_SERIAL_PORT = COM3 #SERIAL PORT ON YOUR MACHINE THAT THE SPARKFUN BOARD SHOULD BE READ FROM
